
body{
    margin: 0px;
}
   .mainpage{
    margin-left:200px;
    height:auto;
    width:70%;
    background-color:aqua;
    box-shadow:5px 5px 5px #000000;
    }
    *{
    font-family:Georgia, "Times New Roman", Times, serif;
    }
    h1.heading1,h5{
    text-align:center;
    color:#FFFFFF;
    padding:5px;
    }
    img{
    margin-left:210px;
    }
    table,th,td{
    padding:10px;
    border: 5px solid;
    }
    caption{
    background-color:#993300;
    color:#660000;
    padding:7px;
    font-weight:bold;
    }
    p{
    text-align:center;
    padding:10px;
    }